<section class="my-5">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 border-right border-success text-center pt-3">
                    <div class="avatar annoncement_picture">

                    </div>
                </div>
                <div class="col-md-8 annoncement_profil">

                </div>
                <div class="col-md-2 border-left border-success annoncement_price">

                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mes disponibilités</h4> <hr>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="text-center">Lundi</th>
                                        <th scope="col" class="text-center">Mardi</th>
                                        <th scope="col" class="text-center">Mercredi</th>
                                        <th scope="col" class="text-center">Jeudi</th>
                                        <th scope="col" class="text-center">Vendredi</th>
                                        <th scope="col" class="text-center">Samedi</th>
                                        <th scope="col" class="text-center">Dimanche</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="availability_morning"></tr>
                                    <tr class="availability_night"></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <ul class="list-group niveau">

                </ul>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <ul class="list-group type-cours">

                </ul>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <ul class="list-group location">

                </ul>
            </div>
        </div>
    </div>
</section>