<div class="moving-letters">
    <h1 class="ml4">
        <span class="letters letters-1 ml4-text">Yoga</span>
        <span class="letters letters-2 ml4-text">Zumba</span>
        <span class="letters letters-3 ml4-text">Remise en forme</span>
        <span class="letters letters-4 ml4-text">Fitness</span>
        <span class="letters letters-5 ml4-text">Training</span>
        <span class="letters letters-6 ml4-text">Running</span>
    </h1>
</div>